<h1 class="h3 mb-2 text-gray-800">Crear Nueva Password</h1>

<form class="user" style="width: 60%">
    <hr>
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" id="siteName" placeholder="Nombre del Sitio">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" id="siteUrl" placeholder="URL">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <textarea class="form-control form-control-user" id="siteDescription" rows="4" placeholder="Descripcion del Sitio"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" id="siteUserName" placeholder="Nombre de Usuario">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" id="sitePassword" placeholder="Passowrd">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" class="form-control form-control-user" id="secretAnser" placeholder="Respuesta Secreta">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="grid-container">
                <a href="javascript:void(0);" class="btn btn-primary btn-user btn-block button-action">Crear Password</a>
            </div>
        </div>
    </div>
</form>