<!-- Password Detail Modal-->
<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Password</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <span>Sitio:</span>
                        <input type="text" class="form-control form-control-user" id="siteName" [value]="passwordItem.nameSite" disabled>
                    </div>
                    <div class="col-sm-6">
                        <span>URL:</span>
                        <input type="text" class="form-control form-control-user" id="siteUrl" [value]="passwordItem.urlSite" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <span>Descripción:</span>
                        <textarea class="form-control form-control-user" id="siteDescription" rows="4" disabled>{{ passwordItem.descriptionSite }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <span>Nombre de Usuario:</span>
                        <input type="text" class="form-control form-control-user" id="siteUserName" [value]="passwordItem.userNameSite" disabled>
                    </div>
                    <div class="col-sm-6">
                        <span>Password:</span>
                        <input type="text" class="form-control form-control-user" id="sitePassword" [value]="passwordItem.password" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <span>Respuesta Secreta:</span>
                        <input type="text" class="form-control form-control-user" id="secretAnser" [value]="passwordItem.secretAnswer" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
